<h1>Harlo</h1>

<p><%= link_to 'Pick A Robot Now!', new_template_path %></p>
<p><%= link_to 'View all of Your Robots', templates_path %></p>
<p><%= link_to 'Strategy Map', maps_path %></p>
<p><%= link_to 'Move Your Robot', new_direction_path %></p>